@media(min-width:600px){
    body{
        background-color: rgb(41, 75, 87);
        color: black;
    }
}


@media(max-width:600px){
    body{
        background-color: darkblue;
        color: white;
    }
}


@media (min-width:500px) and (max-width:800px){
    img{
    display: none;
    }
}

@media (min-width:600px){
    p{
        column-count: 2;
    }
}

@media print{
    body{
        background-color: transparent;
    }
}
