body{
   background:lightblue;
   margin: 0;
}

.navbar{
    flex: end;
    justify-content: space-between;
    padding: 20px 60px;
    
}

nav a {
    margin-left: 25;
    color: white;
    font-size: 14px;
    text-decoration: black;
}

.hero{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    align-items: center;
    height: 100vh;
}


.text h3{
    color:orange;
    margin-bottom: 45px;
    font-size:25px;

}



.text h1 {
    font-size:70px;
    margin-bottom: 50px;
}

.text p{
    font-size :30px;
    margin-bottom: 25px;
}









.about{
    text-align: center;
 
}


.about h1 {
    color: rgb(0, 49, 139);
    font-size: 100px;
    padding: 20px;
}

.about p {
    font-size: 35px;
    color:#333;
    
    margin-bottom: 500px;
}























.menuu{
    
    display: flex;
    align-items: center;
    margin-bottom: 1000px;
    padding: 10px;
}




.write1 {

    color: orange;
    font-size: 30x;
}


.write1 h1 {
    font-size: 70px;
    
}


.pizza1{
    height: 400px;
    width: 500px;
    border-radius: 10px;
}


.pizza1-1 h1 {
    font-size: 20px;
    margin-bottom: 1000px;
    margin-right: 1000px;
    color: black;
    
}

.pizza1-p{

    font-size: 30px;
    color: black;



}

ul{
    color: black;
}






.gallery {
    padding: 50px;
    text-align: center;
}

.gallery h2 {
    margin-bottom: 20px;
    font-size: 50px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.gallery-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s ease;
}

.gallery-container img:hover {
    transform: scale(1.05);
}