body{
  
   margin: 0;
}

.navbar{
    margin-top:-30px;
    display: flex;
    flex-direction:row ;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px 30px;
    float: right;
    text-align: right;
    background-color: antiquewhite;
    overflow: hidden;
    list-style-type: none;
    width: 2200px;;
    

  

}
.navbar li{
    float: right;
}

.navbar a {

    display: block;
    color: white;
    font-size: 20px;
    text-decoration: black;
    text-align: center;
    padding: 10px 20px;
    list-style: none;
}

.hero{
 width: 2200px;
 height: 100vh;
   background-image:url(restaurant.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 5px black;
}


.text {
    color:black;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
    font-size:30px;

}




.about{
    text-align: center;
    background: blanchedalmond;
    background: cover;
 
}


.about h1 {
    color: rgb(0, 49, 139);
    font-size: 100px;
    padding: 20px;
}

.about p {
    font-size: 35px;
    color:#333; 
    
}

.logo {
   
    height: 400px;
    width: 400px;
    border-radius: 25%;
}



















.tt {
    color: rgb(0, 49, 139);
    font-size: 100px;
   
}


table{
    border-collapse: collapse;
    height: 600px;
    width: 1200px;
}
thead {
  background-color: rgb(182, 83, 100);
  color: rgb(15, 9, 1);
}
td,th{
    border: 1px solid rgb(71, 10, 13);
    padding: 15px;

}

tbody tr:nth-child(odd){
    background-color: rgb(211, 150, 81);
}

tbody tr:nth-child(even){
    background-color: #728716;
}

table {
  margin: 0 auto;
}
p {
  text-align: center;
}










































.gallery {
    padding: 50px;
    text-align: center;
}

.gallery h2 {
    margin-bottom: 20px;
    font-size: 50px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.gallery-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s ease;
}

.gallery-container img:hover {
    transform: scale(1.05);
}