body{
  
   margin: 0;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    align-items: center;
    
}

nav a {
    flex-direction: end;
    color: white;
    font-size: 20px;
    text-decoration: black;
}

.hero{
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    height: 100vh;

   background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url(restaurant.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 2px 2px 5px black;
}


.text h3{
    color:black;
    margin-bottom: 45px;
    font-size:30px;

}



.text h1 {
    font-size:70px;
    margin-bottom: 50px;
    color:rgb(0, 0, 0)
}

.text p{
    font-size :50px;
    margin-bottom: 25px;
    color: rgb(0, 20, 87);
}









.about{
    text-align: center;
    background: blanchedalmond;
    background: cover;
 
}


.about h1 {
    color: rgb(0, 49, 139);
    font-size: 100px;
    padding: 20px;
}

.about p {
    font-size: 35px;
    color:#333; 
    
}

.logo {
   
    height: 400px;
    width: 400px;
    border-radius: 25%;
}
































































.gallery {
    padding: 50px;
    text-align: center;
}

.gallery h2 {
    margin-bottom: 20px;
    font-size: 50px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.gallery-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s ease;
}

.gallery-container img:hover {
    transform: scale(1.05);
}