.gallery{

    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 180;
 
}

.gallery:hover{

border: 2px solid darkblue


}

.gallery img{
    width: 100%;
    height: auto;


}

.desc{
    text-align: center;
    padding: 15px;
}