body{

margin: 0;
font-family: Arial, Helvetica, sans-serif;


}


header{

    background-color: aqua;
    color: blue;
    padding: 20px;
}

.header-top{

display: flex;
justify-content:  space-between;

}

.header-bottom{

text-align: center;
margin-top: 20px;


}

nav ul {

list-style: none;
display: flex;
padding: 0;
gap: 15px;
}

nav a {

color:blueviolet;
text-decoration: none;



}

button{
    padding: 8px 15px;
    background-color: brown;
    border: none;


}



main{
    background-color: beige;
    text-align: center;
    padding:30px;



}

footer{

background-color: blanchedalmond;
color: azure;
padding: 30px;
text-align: center;


}

input,textarea{

width: 250px;
margin: 5;
padding: 5;


}

.social-media{

list-style: none;

display: flex;
justify-content: center;
gap: 15px;
padding: 0;
}